:root {
    --white: #FFFFFF;
    --primary-color: #1E3A8A;
    --secondary-color: #F59E0B;
    --accent-color: #10B981;
    --primary-gradient: linear-gradient(90deg, var(--primary-color) 0%, var(--accent-color) 70%);
    --primary-text-color: #E5E7EB;
    --primary-font-family: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-header {
    z-index: 100;
    font-family: var(--primary-font-family);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    position: fixed;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

h1 {
    font-weight: 600;
    font-size: 36px;
}

.page-header__nav {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-navigation {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.site-navigation__item {
    background: var(--primary-color);
    padding: 7px;
    border-radius: 20px;
    transition: background .4s ease-in-out;
}

.site-navigation__link {
    color: var(--primary-text-color);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: color .4s ease-in-out;
}

.site-navigation__item:hover {
    background: var(--primary-text-color);
}

.site-navigation__item:hover .site-navigation__link {
    color: var(--primary-color);
}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 153px 70px 30px;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}

.avatar,
.avatar img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.avatar {
    background-color: var(--white);
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    font-size: 21px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    animation: moveAround 10s ease-in-out infinite alternate;
}

.avatar img {
    object-fit: cover;
}

.info-text {
    margin: auto 0;
}

.info-text p {
    font-size: 36px;
    font-weight: 700;
    opacity: 0;
    color: var(--secondary-color);
    text-shadow: var(--primary-color) 2px 5px;
}

.brief-info {
    text-align: right;
    margin: auto 0;
}

.brief-info__title {
    font-size: 36px;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 15px;
}

.brief-info__list {
    height: 84px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
}

.brief-info__list li span {
    color: var(--primary-text-color);
    transition: color .4s ease-in-out;
}

.brief-info__list li:hover span {
    color: var(--primary-color);
}

.about-me {
    position: relative;
    background-color: var(--primary-color);
    color: var(--white);
    font-family: var(--primary-font-family);
    text-align: center;
    padding: 80px 10px;
}

.about-me__title {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 25px;
}

.about-me__facts {
    min-height: 156px;
    width: 700px;
    margin: 0 auto;
    list-style-type: none;
    font-size: 21px;
}

.about-me__facts li {
    margin-bottom: 5px;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 30px;
    transition: box-shadow .4s ease, transform .4s ease-in;
}

.about-me__facts li:hover {
    box-shadow: 0 5px 15px var(--white);
    transform: translateX(5%) translateY(-8%);
}

.about-me__anchor {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    z-index: -1;
    top: -50px;
}

@keyframes moveAround {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(10px, -50px);
    }

    50% {
        transform: translate(20px, 0);
    }

    75% {
        transform: translate(10px, 50px);
    }

    100% {
        transform: translate(0, 0);
    }
}